# Data
pandas>=2.0
numpy>=1.26
scikit-learn>=1.4

# Visualisation
matplotlib>=3.8
seaborn>=0.13

# Modélisation
xgboost>=2.0
# lightgbm>=4.0  (optionnel)

# Deep Learning
# tensorflow>=2.15  ou  torch>=2.2

# Notebook (dev uniquement)
jupyter
ipykernel

# API (optionnel)
fastapi
uvicorn

# Dashboard (optionnel)
streamlit